.card-style {
    display: grid;
    grid-template-columns: 250px; 
    grid-template-rows: 190px 40px;
    border-radius: 18px;
    background-color: #fff;
    grid-template-areas: 'image' 'text';
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    transition:  0.5s ease;
    cursor: pointer;
    margin-bottom: 30px;
}

.card-images {
    grid-area:  'image';
    margin-bottom: 20px;
}

.card-text {
    font-size: 22px;
    font-weight: 600;
    grid-area: 'text';
    color: white;
    background-color: #2B5B88;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-style:hover {
    transform:  scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}